/*======================= 
    Preloader
=======================*/
.preloader {
	position: fixed;
	inset: 0;
	z-index: 999;
	background-color: $white-color;
	align-items: center;
	display: flex;
	justify-content: center;

	.th-btn {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;

		&:hover {
			background-color: $title-color;
		}
	}
}



.loading-container,
.loading {
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}

.loading-container {
	margin: 40px auto
}

.loading {
	border: 1px solid transparent;
	border-color: transparent $theme-color transparent $theme-color;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container:hover .loading,
.loading-container .loading {
	transition: all 0.5s ease-in-out;
}

.preloader-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 66px;
	transform: translate(-50%, -50%);
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}