/* brand start ------------------------*/
.brand-slider1 {
    border-bottom: 1px solid $smoke-color;
    padding-bottom: 60px;
}

.brand-sec2 {
    position: relative;
    background-color: $white-color;
    mask-image: url('../img/bg/brand_bg_1.png');
    mask-repeat: no-repeat;
    mask-size: cover;
    margin-top: -98px;

    @include md {
        margin-top: -60px;
    }
}

.brand-title {
    transform: rotate(-3deg);
}

.brand-slider2 {
    transform: rotate(-3deg);

}

.brandSlider1 {
    max-width: 520px;
    display: block;
    margin-right: 0;

    @include lg {
        margin-right: auto;
    }
}

.brand-slider {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(21.3px);
    border-radius: 30px;
    padding: 30px 60px;
    margin-top: 120px;

    @include xs {
        padding: 30px 20px;
    }

}

.brand-item {
    width: 140px;
    height: 152px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-left: auto;

    @include lg {
        margin-right: auto;
    }

    &:hover {
        a img {
            &.gray {

                opacity: 1;
                visibility: visible;
                transition: all 0.7s ease-in-out;
                transform: translateY(0%);

            }

            &.original {

                opacity: 0;
                visibility: hidden;
                transition: all 0.7s ease-in-out;
                transform: translateY(100%);
            }
        }
    }

    img {
        margin: 0 auto;
        transition: all 0.7s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        &.gray {

            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
            transition: all 0.7s ease-in-out;
            transform: translateY(-100%);


        }

        &.original {

            transition: all 0.7s ease-in-out;
            transform: translateY(0%);
        }
    }
}

.brand-sec3 {
    position: relative;
    margin: -60px 100px 0 0;
    clip-path: path("M100 0H1820V200H0L100 0Z");
    z-index: 2;
    .container {
        --main-container: 1570px;
    }

    @media(min-width: 1930px) {
        clip-path: path("M183.132 0H3333V200H0L183.132 0Z");
    }

    @include xxl {
        margin: -60px 0 0 0;
    }

    @include xl {
        clip-path: none;
    }
}


.brand-text {
    max-width: 576px;
    display: block;
    margin: auto;
}

.brandSlider6 {
    .swiper-wrapper {
        gap: 35px 0;
    }
} 