/* Pricing 1 ---------------------------------- */
.available-list {
    @include xs {
        padding: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: $body-color;

        &:after {
            content: "\f058";
            font-family: var(--icon-font);
            font-weight: 500;
            color: $theme-color;
            font-weight: 900;
            font-size: 16px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            border-radius: 50px;
            position: absolute;
            top: 5px;
            left: 0;
        }

        &.unavailable {
            &:after {
                content: "\f057";
                right: 0px;
            }
        }

        img {
            max-width: 18px;
            margin-right: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.unavailable {
            font-weight: 400;
            color: $body-color;

            img {
                opacity: 0.2;
            }
        }
    }

}

.pricing-tabs {
    margin-top: 31px;
    margin-bottom: 60px;

    &.style2 {
        .switch-area {
            .toggler {
                color: $white-color;
            }

            .toggle {
                height: 36px;
            }

            .switch {
                left: 3px;
                top: 3px;
                bottom: 3px;
                right: 45%;
            }

            .check:checked~.switch {
                right: 3px;
                left: 47%;
            }
        }
    }

    .discount-tag {
        color: $theme-color;
        font-size: 16px;
        font-weight: 500;
        font-family: $body-font;
        position: absolute;
        bottom: -3px;
        transform: translate(-35px, 100%);
        display: inline-flex;
        align-items: end;
        gap: 10px;
    }

    @include xs {
        margin-bottom: 0px;

        .discount-tag {
            display: none;
        }
    }
}

.switch-area {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    .toggler {
        transition: .2s;
        font-weight: 600;
        font-size: 20px;
        font-family: $body-font;
        color: $title-color;
        background: transparent;
        margin-bottom: -0.4em;
        cursor: pointer;
    }

    .toggle {
        position: relative;
        width: 70px;
        height: 36px;
        border-radius: 100px;
        background-color: $theme-color;
        overflow: hidden;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    }

    .check {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 6;
        visibility: visible;

        &:checked~.switch {
            right: 3px;
            left: 53%;
            transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-property: left, right;
            transition-delay: .08s, 0s;
        }
    }

    .switch {
        position: absolute;
        left: 3px;
        top: 3px;
        bottom: 3px;
        right: 53%;
        background-color: $white-color;
        border-radius: 36px;
        z-index: 1;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0s, .08s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
}

.wrapper-full.hide {
    display: none;
}

/* Price card start -------------------------*/
.price-box {
    position: relative;
    border-radius: 30px;
    background: #F9F8FF;
    padding: 50px;
    margin-top: 30px;
    transition: 0.4s;
    z-index: 1;

    @include xl {
        padding: 30px;
    }

    &.style2 {
        background: $white-color;
        box-shadow: 0px 10px 50px 10px #E8E8E8;

    }

    &.style3 {
        background-color: $theme-color;
        padding: 0;

        .price-content {
            background-color: $title-color;
            backdrop-filter: blur(25px);
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 40px;
        }

        .offer-tag {
            text-align: center;
            display: block;
            padding: 20px 0;

            .tag {
                font-family: $title-font;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
            }
        }

        .price-title-area {
            text-align: center;

            .box-title {
                color: $white-color;
            }

            .price-box_text {
                color: #7A8392;
            }
        }

        .price-box_price {
            font-weight: 600;
            font-size: 44px;
            line-height: 44px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;

        }

        .th-btn {
            background-color: transparent;
            border: 1px solid #E0E0E0;
            border-radius: 30px;
            margin-bottom: 40px;

            &:before {
                background-color: $theme-color;
            }

            &:hover {
                border-color: $theme-color;
            }

        }
        &.active {
            .price-content {
                border: 1px solid $theme-color;
            }
        }

        .available-list {
            margin-left: 50px;
            @include md {
                margin: 0;
            }

            ul {
                li {
                    color: #7A8392;

                    &.unavailable {
                        &:after {
                            color: #7A8392;
                        }
                    }
                }
            }
        }
    }

    @include md {
        padding: 30px;
    }

    .price-title-wrap {
        display: flex;
        justify-content: space-between;
    }

    .subtitle {
        color: $theme-color;
        font-weight: 600;
        margin-bottom: 0;
    }

    .box-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;

        @include xs {
            font-size: 24px;
        }
    }

    .box-price {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .duration {
        font-size: 16px;
        color: $body-color;
        font-weight: 400;
    }

    .box-text {
        color: $body-color;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #D9D9D9;
    }

    .box-text2 {
        margin-bottom: 25px;
    }

    .available-list {
        margin-bottom: 30px;
    }

    &.active {
        background: $theme-color;

        .box-title {
            color: $white-color;
        }

        .subtitle {
            color: $white-color;
        }

        .box-text {
            color: $white-color;
        }

        .box-price {
            color: $white-color;
        }

        .duration {
            color: $white-color;
        }

        .box-text2 {
            color: $white-color;
        }

        .available-list li {
            color: $white-color;

            &:after {
                color: $white-color;
            }
        }

        .th-btn {
            background-color: $title-color;
        }
    }
}

/* Price card end -------------------------*/

/*price-card  start --------------------------*/
.price-area2 {

    @media(max-width: 1699px) {
        margin: 0;
        border-radius: 0;
    }

    .container {
        @include lg {
            max-width: 100%;
        }
    }
}

.price-card {
    margin-top: 40px;

    &.price-card-list {
        margin-top: 96px;

        @media(max-width: 1699px) {
            margin-top: 96px;
        }

        @include lg {
            margin-top: 106px;
        }

        @include md {
            margin-top: 0px;
            display: none;
        }

        .checklist {
            ul {
                li {
                    justify-content: flex-start;
                }
            }
        }
    }

    .checklist {
        ul {
            li {
                padding: 16px 0;
                height: 50px;
                font-weight: 500;
                font-size: 16px;
                font-family: $title-font;
                justify-content: center;
                border-top: 1px dashed #A2ABBA;
                margin-bottom: 0;

                span {
                    display: none;

                    @include md {
                        display: block;
                    }
                }

                &:last-child {
                    border-bottom: 1px dashed #A2ABBA;
                }
            }
        }
    }

    &.active {
        .box-content {
            &:before {
                background-color: $theme-color;
            }
        }

        .box-price {
            color: $white-color;
        }

        .checklist {
            ul {
                li {
                    img {
                        filter: brightness(0) invert(1);
                    }

                    span {
                        color: $white-color;
                    }
                }
            }
        }

        .th-btn {
            background-color: $title-color;
        }
    }

    .box-content {
        position: relative;
        padding: 30px 0;
        z-index: 2;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            margin-left: 25px;
            border-radius: 30px;
            background-color: #E9E9E9;
            z-index: -1;

            @include lg {
                margin-left: 0;
            }
        }
    }

    .box-title {
        margin-bottom: 0;
        text-align: center;
    }

    .box-text {
        text-align: center;
    }

    .box-price {
        font-weight: 600;
        font-size: 44px;
        line-height: 54px;
        text-transform: capitalize;
        color: #1F1F1F;
        text-align: center;

    }

    .th-btn {
        padding: 19.5px 47px;
        width: 252px;
        margin: 30px 0 0 30px;

        @include xl {
            width: auto;
        }

        @include lg {
            padding: 15px 30px;
        }

    }
}

/* price grid -------------------------------*/
.price-grid {
    background-color: $smoke-color2;
    border: 1px solid $smoke-color;
    border-radius: 50px;
    padding: 60px;
    transition: all 0.4s ease-in-out;

    @include xl {
        padding: 30px;
        border-radius: 30px;
    }

    .box-title {
        font-weight: 600;
        margin-bottom: 5px;
    }

    .price-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include vxs {
            display: block;
        }
    }

    .available-list {

        ul {

            li {
                padding: 0;
                font-size: 16px;
                text-transform: none;
                padding-left: 30px;

                &:before {
                    content: "\f058";
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: $icon-font;
                    font-weight: 700;
                    color: $theme-color;
                    font-size: 18px;
                }

                i {
                    font-size: 18px;
                    color: $theme-color;
                    margin-right: 10px;
                }

                &:after {
                    display: none;
                }

                span {
                    display: block;
                }
            }
        }
    }

    .box-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $body-color;
        border-bottom: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;

        @media(max-width: 480px) {
            display: block;
        }

        span {
            background: #FFE4E9;
            border-radius: 30px;
            padding: 2px 15px;
            color: $theme-color;
            font-size: 14px;
            font-weight: 500;

        }
    }

    .box-price {
        font-size: 54px;
        font-weight: 500;
        margin-top: 12px;
        border-bottom: 1px solid $smoke-color;
        margin-bottom: 40px;
        padding-bottom: 20px;

        @media(max-width: 480px) {
            margin: 10px 0;
        }

        del {
            font-size: 20px;
            font-weight: 500;
            color: #A2ABBA;
        }
    }

    .th-btn {
        margin-top: 35px;
    }
}

/* price item start ------------------------*/
.price-item {
    background: $smoke-color2;
    border: 1px solid $smoke-color;
    border-radius: 30px;
    text-align: center;
    padding: 40px;

    &.style2 {
        background-color: $white-color;
        transition: all 0.4s ease-in-out;

        .box-price {
            background: $smoke-color2;
            border: 1px solid $smoke-color;
            border-radius: 20px;
            box-shadow: none;
        }

        &:hover,
        &.active {
            background-color: $theme-color;
            border-color: $theme-color;

            .box-price {
                color: $white-color;
                background: rgba(255, 255, 255, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.2);
            }

            .subtitle {
                color: $white-color;
            }

            .box-title {
                color: $white-color;
            }

            .box-text {
                color: $white-color;
            }

            .duration {
                color: $white-color;
            }

            .available-list {
                li {
                    color: $white-color;

                    &:after {
                        color: $white-color;
                    }
                }
            }

            .th-btn {
                background-color: $title-color;
                color: $white-color;
            }

        }
    }

    .subtitle {
        color: $theme-color;
        font-weight: 600;
        margin-bottom: 0;
    }

    .box-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0px;

        @include xs {
            font-size: 24px;
        }
    }

    .duration {
        font-size: 16px;
        color: $body-color;
        font-weight: 400;
    }

    .box-text {
        color: $body-color;
        margin-bottom: 30px;
    }

    .box-price {
        background: $white-color;
        box-shadow: 0px 10px 40px 10px rgba(232, 232, 232, 0.5);
        border-radius: 20px;
        padding: 20px 30px;
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 35px;

        @include lg {
            font-size: 34px;
        }

        @include vxs {
            font-size: 25px;
        }
    }

    .available-list {
        text-align: left;
        padding-left: 60px;
        padding-bottom: 40px;

        @include xl {
            padding-left: 0;
        }

        li.unavailable:after {
            color: $body-color;
        }
    }

    &.active {
        .th-btn {
            background-color: $theme-color;
            color: $title-color;
        }
    }
}

/* price item end ------------------------*/