.checklist {
    ul {
        padding-left: 0;
        list-style: none;
        text-align: left;
        margin-bottom: 0;
    }

    li {
        color: $title-color;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        >i {
            font-size: 14px;
            color: $theme-color;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &.style2 {
        li {
            font-size: 16px;
            font-weight: 500;
            color: $title-color;
            font-family: $title-font;
            gap: 15px;
            padding-left: 20px;

            &:before {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                width: 8px;
                height: 8px;
                background-color: $theme-color;
                border-radius: 50%;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &.style3 {
        li {
            font-family: $title-font;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;

            @include xs {
                font-size: 16px;
            }



            &:not(:last-child) {
                margin-bottom: 15px;
            }

            >i {
                font-size: 20px;
                color: #70D715;
            }
        }
    }

    &.style4 {
        li {
            color: $white-color;
        }
    }

    &.style10 {
        li {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            font-family: $title-font;
            z-index: 2;
            padding-left: 29px;

            @include xs {
                margin-bottom: 50px;
            }

            &:before {
                content: "";
                position: absolute;
                width: 61px;
                height: 61px;
                left: 0px;
                background: #6B61FC;
                opacity: 0.3;
                border-radius: 40px;
                z-index: -1;


            }
        }

        &:not(:last-child) {
            li {
                &:before {
                    background: #F3BA0E;
                }
            }
        }
    }

    &.style11 {
        li {
            color: $body-color;
            font-weight: 400;
            gap: 15px;
            padding-left: 20px;

            &:before {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                width: 5px;
                height: 5px;
                background-color: $title-color;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &.style5 {
        li {
            color: $body-color;
            font-family: $body-font;
            font-weight: 400;

            &:not(:last-child) {
                margin-bottom: 13px;
            }

            >i {
                font-size: 22px;
            }
        }
    }

    &.style6 {
        li {
            font-size: 18px;
            font-weight: 500;
            color: $title-color;
            font-family: $title-font;
            gap: 15px;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            >i {
                font-size: 14px;
                border-radius: 50%;
                color: $white-color;
                background: #70D715;
                padding: 8px;
                margin-top: 1px;
            }
        }
    }

    &.style7 {
        li {
            font-size: 20px;
            font-weight: 500;
            color: $title-color;
            font-family: $title-font;
            gap: 15px;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            >i {
                font-size: 14px;
                border-radius: 50%;
                color: $white-color;
                background: #70D715;
                padding: 8px;
                margin-top: 1px;
            }
        }

        &:not(:last-child) {
            @include sm {
                margin-bottom: 30px;
            }
        }
    }

    &.style8 {
        li {
            font-family: $title-font;
            font-weight: 500;
            color: $black-color;

            i {
                font-size: 16px;
            }
        }
    }

    &.style9 {
        li {
            gap: 15px;
            font-family: $body-font;
            font-weight: 500;
            font-size: 18px;

            @include xl {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            i {
                font-size: 30px;
            }
        }
    }

    &.style13 {
        li {
            font-size: 16px;
            font-weight: 600;

            @include xl {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }

        }
    }

    &.style12 {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 30px;
            @media(max-width: 480px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        li {
            font-family: $title-font; 
            font-size: 16px;
            font-weight: 500;
            &:before {
                content: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6174 9.97096L16.7481 9.14922C15.4559 8.78415 14.2789 8.09286 13.3296 7.14151C12.3803 6.19016 11.6905 5.01058 11.3262 3.71565L10.5063 0.840104C10.4651 0.739499 10.3949 0.65345 10.3048 0.592891C10.2146 0.532333 10.1085 0.5 10 0.5C9.89147 0.5 9.78539 0.532333 9.69524 0.592891C9.6051 0.65345 9.53495 0.739499 9.49371 0.840104L8.67375 3.71565C8.30946 5.01058 7.61967 6.19016 6.67037 7.14151C5.72108 8.09286 4.54405 8.78415 3.25192 9.14922L0.382586 9.97096C0.272414 10.0023 0.175448 10.0688 0.106402 10.1604C0.0373568 10.2519 0 10.3636 0 10.4783C0 10.5931 0.0373568 10.7048 0.106402 10.7963C0.175448 10.8879 0.272414 10.9544 0.382586 10.9857L3.25192 11.8075C4.54405 12.1725 5.72108 12.8638 6.67037 13.8152C7.61967 14.7665 8.30946 15.9461 8.67375 17.241L9.49371 20.1166C9.52498 20.227 9.59133 20.3242 9.68271 20.3934C9.77408 20.4626 9.88548 20.5 10 20.5C10.1145 20.5 10.2259 20.4626 10.3173 20.3934C10.4087 20.3242 10.475 20.227 10.5063 20.1166L11.3262 17.241C11.6905 15.9461 12.3803 14.7665 13.3296 13.8152C14.2789 12.8638 15.4559 12.1725 16.7481 11.8075L19.6174 10.9857C19.7276 10.9544 19.8246 10.8879 19.8936 10.7963C19.9626 10.7048 20 10.5931 20 10.4783C20 10.3636 19.9626 10.2519 19.8936 10.1604C19.8246 10.0688 19.7276 10.0023 19.6174 9.97096Z' fill='%23F3BA0E'/%3E%3C/svg%3E%0A"); 
                position: relative; 
                top: 3px;
            }
            i {
                color: #F3BA0E;
                font-size: 20px;
            }
        }
    }

    &.list-two-column {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 30px;

            @include xl {
                gap: 0 15px;
            }

            @media(max-width: 520px) {
                grid-template-columns: repeat(1, 1fr);
            }

            li {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;

                img {
                    max-width: 24px;
                }

                @include xl {
                    font-size: 18px;
                    line-height: 28px;
                }

            }
        }
    }

    &.list-three-column {
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 12px;

            @include xl {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 480px) {
                grid-template-columns: repeat(1, 1fr);
            }

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;

            }
        }
    }

    &.project-checklist {

        ul {
            li {
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                padding-left: 10px;

                span {
                    font-weight: 600;
                }

                &:before {
                    top: 9px;
                    width: 5px;
                    height: 5px;
                    background-color: $title-color;
                }
            }
        }
    }

    &.mb-40 {
        @include lg {
            margin-bottom: 32px;
        }
    }

    &.mb-45 {
        @include lg {
            margin-bottom: 35px;
        }
    }
}

.two-column {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 700px;

    @include xs {
        display: block;
    }

    .checklist.style6 {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.two-column {
    &:has(.checklist.style6) {
        gap: 30px;
    }
}

.bg-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.th-video {
    position: relative;
    border-radius: 5px;

    img {
        border-radius: inherit;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >i {
            background-color: $theme-color;
            color: $white-color;
        }
    }
}

.icon-box {
    display: inline-flex;
    gap: 10px;
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 30px;
}

.video-btn {
    display: flex;
    align-items: center;
    color: $body-color;
    text-transform: uppercase;
    line-height: 1.6;

    .play-btn {
        --icon-size: 50px;
        margin-right: 15px;

        >i {
            background-color: $theme-color;
            color: $white-color;
            padding-right: 0.1em;
        }

        &:before {
            background-color: $theme-color;
        }
    }

    .small-text {
        font-size: 10px;
        text-decoration: underline;
        display: block;
    }

    .big-text {
        font-size: 14px;
        font-weight: 500;
    }
}

@include lg {
    p {
        &.mb-40 {
            margin-bottom: 35px;
        }

        &.mb-45 {
            margin-bottom: 38px;
        }
    }
}

/* th anim start----------------------- */
.th-anim {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform-origin: left;
    }
}

.rounded {
    border-radius: 30px !important;

    @include xs {
        border-radius: 15px !important;
    }
}