/* Team global ---------------------------------- */
.th-team {
    position: relative;

    .box-img {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .team-desig {
        font-size: 14px;
        display: block;
        margin-bottom: -0.5em;
        transition: 0.4s ease-in-out;
    }

    .th-social {
        a {
            --icon-size: 40px;
            background-color: #F5F8F3;
            color: $title-color;

            &:hover {
                background-color: $theme-color;
                color: $white-color;
            }
        }
    }

    .box-title {
        margin-bottom: 3px;
    }

    &:hover {
        .team-img {
            img {
                transform: scale(1.08);
            }
        }

        .team-social {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* Team Card ---------------------------------- */
.team-card {
    position: relative;
    background-color: $white-color;
    box-shadow: 0px 10px 15px 0px #E8E8E8;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    z-index: 2;

    .box-title {
        margin-bottom: -0.3rem;
    }

    .box-img {
        border-radius: 30px;
    }

    .box-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        z-index: 3;
    }

    .team-social {
        .icon-btn {
            --btn-size: 40px;
            background: #F5F8F3;
            border: 1px solid $smoke-color;
            color: $title-color;
            border-radius: 50%;
            font-size: var(--btn-font-size, 18px);
            font-weight: 700;
            cursor: pointer;
        }

        .th-social {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            bottom: 70px;
            right: 30px;
            width: 40px;
            min-height: 178px;
            padding: 0;
            color: var(--title-color);
            transform: scaleY(0);
            transform-origin: bottom;
            transition: 0.4s ease-in-out;
            z-index: 2;

            a {
                border-radius: 50%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }


    &:hover {
        .box-img {
            img {
                transform: scale(1.15);
                transition: all ease 0.4s;
            }
        }

        .icon-btn {

            transform: rotate(45deg);
        }

        .th-social {
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
        }
    }
}


.team-box {
    position: relative;
    --space: 40px;
    overflow: hidden;
    border-radius: 30px;

    @include md {
        --space: 30px;
    }

    @include vxs {
        --space: 20px;
    }

    .team-img {
        img {
            width: 100%;
        }
    }

    .th-social {
        a {
            &:hover {
                background-color: $title-color;
            }
        }
    }


    .box-title {
        color: $white-color;
        margin-bottom: 0px;

        a {
            color: inherit;
        }
    }

    .team-desig {
        color: $white-color;
        font-size: 14px;
        border-bottom: 1px solid $white-color;
        margin-bottom: 20px;
        padding-bottom: 12px;
    }

    .box-content {
        position: absolute;
        top: var(--space);
        left: var(--space);
        width: calc(100% - var(--space)*2);
        height: calc(100% - var(--space)*2);
        z-index: 2;
        background: $theme-color;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        border-radius: 20px;
        transform: scale(0);
        transition: 0.4s ease-in-out;

        @include vxs {
            padding: 20px;
        }
    }

    &:hover {
        .box-content {
            transform: scale(1);
            opacity: 0.9;
            visibility: visible;
        }

    }
}


/* Team Details ---------------------------------- */
.team-details {
    position: relative;
    border-radius: 50px;
    background: #F3F4F6;
    padding: 60px;
    overflow: hidden;

    @include xl {
        padding: 60px 45px;
    }

    @include md {
        padding: 60px 35px;
    }

    @include xs {
        padding: 60px 20px;
    }

    img {
        width: 100%;
        height: 511px;
        object-fit: cover;
        border-radius: 30px; 
        @include lg {
            height: 100%;
        }
    }

    .th-social {
        width: 100%;

        @include ml {
            margin-bottom: 30px;
        }

        a {
            &:not(:hover) {
                background-color: $smoke-color;
            }
        }
    }
}

.team-about {
    .team-wrapp {
        display: flex;
        justify-content: space-between;

        @include ml {
            display: block;
        }
    }

    &_title {
        margin-top: -0.4rem;
        margin-bottom: 0px;
    }

    &_desig {
        font-weight: 500;
        color: $theme-color;
        margin-bottom: 20px;
    }

    &_text {
        margin-bottom: 20px;
    }

    .th-btn {
        padding: 19.5px 38.9px;
    }
}

.about-info {
    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        border-bottom: 1px solid rgba(27, 31, 37, 0.10);
        margin-bottom: 40px;

        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid rgba(27, 31, 37, 0.10);
    padding: 20px 0 20px 20px;


    @include xl {
        gap: 15px;
    }

    @include sm {
        padding-left: 0;
    }

    &:not(:first-child) {
        border-left: 1px solid rgba(27, 31, 37, 0.10);

        @include sm {
            border-left: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:nth-child(3) {
        border-left: none;
        padding-left: 0;
    }

    &_icon {
        i {
            @include equal-size-lineHeight(50px);
            color: $theme-color;
            background-color: $white-color;
            border: none;
            border-radius: 50%;
            text-align: center;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: $theme-color;
                color: $white-color;
            }
        }
    }

    &_subtitle {
        margin-bottom: 0;
    }

    &_title {
        font-family: $body-font;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;

        a {
            color: inherit;

            &:hover {
                color: $theme-color;
            }
        }
    }
}

.about-card-img {
    position: relative;
    background-color: $white-color;
    padding: 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    border-radius: 30px;

    img {
        border-radius: 20px;
        width: 100%;
    }

    @include xl {
        padding: 30px;
    }

    @include lg {
        margin-bottom: 40px;
    }

    @include sm {
        border-radius: 20px;

        img {
            border-radius: 15px;
        }
    }

    @include vxs {
        padding: 20px;
    }
}

@media (min-width: 1300px) {
    .about-card {
        margin-left: 50px;
    }
}

.about-card {
    &_title {
        margin-bottom: 15px;
    }

    &_desig {
        color: $theme-color;
        margin-bottom: 22px;
        margin-top: -0.5em;
    }

    &_text {
        margin-bottom: 26px;
        margin-top: 32px;
    }

    .th-social a {
        border-radius: 10px;
    }
}

.team-info {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            b {
                width: 100%;
                max-width: 200px;
                font-weight: 600;
                font-size: 18px;
                color: $title-color;
            }

            span,
            a {
                color: $body-color;
            }

            a:hover {
                color: $theme-color;
            }
        }
    }
}

@include xs {
    .team-info ul li b {
        max-width: 140px;
    }
}

.team-contact-form {
    padding: 50px;
    background-color: $smoke-color;

    textarea {
        height: 120px;
    }

    .form-title {
        margin-top: -0.3em;
        margin-bottom: 25px;
    }

    @include xs {
        padding: 40px 20px;
    }
}

.skill-feature {
    text-align: left;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &_title,
    .progress-value {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: -0.5em;
        font-family: $title-font;
        color: $title-color;
    }

    .progress {
        position: relative;
        height: 8px;
        background-color: transparent;
        border: 1px solid $smoke-color2;
        overflow: visible;
        border-radius: 0;
    }

    .progress-bar {
        background-color: $theme-color;
        height: 2px;
        margin: 2px;
        border-radius: inherit;
        overflow: visible;
        position: relative;
    }

    .progress-value {
        position: absolute;
        top: -30px;
        right: -8px;
    }
}